.home
  %section
    .home__containt--1{ style: "background-image: url(https://d1f5hsy4d47upe.cloudfront.net/85/8544da483fa6ab971a49af850b607094_t.jpeg)"}
      .title Task-manager
  %section
    .home__containt--2
      .home__containt__left
        Task-managerは、ボード、リスト、カードを使ってTaskを見える化し管理できるアプリです。
      .home__containt__right
  %section
    .home__containt--3
