.room {
  width: 600px;
  margin: 10px auto;
  &__index {
    width: 250px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #eceff1;
    border-radius: 5px;
  }
}
