html, body {
  height: 100%;
  width: 100%;
}

h2 {
  text-align: center;
  margin : 10px;
}

ul {
  list-style: none;
}

.form__errors {
  color: red;
}

.bkrgba {
  height: 100%;
  background: rgba(255,255,255,0.1);
}

.link {
  font-weight: bold;
  color: #ffffff;
  margin: 5px;
  text-decoration: none;
}

.icon {
  color: #333;
  font-size: 16px;
}

.icon-user {
  display: none;
  position: absolute;
  padding: 10px;
  background: #e3f2fd;
  border-radius: 10px;
}

.icon-user:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 100%;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #e3f2fd;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.rounded-circle:hover + .icon-user {
  display: block;
}

.profile {
  margin: 0 auto 30px;
  width: 530px;
  &__image {
    display: inline-block;
    margin-right: 20px;
    border-radius: 50%;
  }
  &__name {
    display: inline-block;
    font-size: 30px;
    width: 350px;
  }
  &__about {
    font-size: 16px;
  }
}

.bold {
  font-weight: bold;
}

.check-box label {
  display: inline-block;
  margin-right: 10px;
}

.rounded-circle {
  position: relative;
}

.new_room {
  display: inline;
}
