html, body {
  height: 100%;
  width: 100%;
}

h2 {
  text-align: center;
  margin : 10px;
}

ul {
  list-style: none;
}

.form__errors {
  color: red;
}

.bkrgba {
  height: 100%;
  background: rgba(255,255,255,0.1);
}

.link {
  font-weight: bold;
  color: #ffffff;
  margin: 5px;
  text-decoration: none;
}

.icon {
  color: #333;
  font-size: 16px;
}

.profile {
  margin: 0 auto 30px;
  width: 530px;
  //background-color: pink;
  &__image {
    display: inline-block;
    margin-right: 20px;
    border-radius: 50%;
  }
  &__name {
    display: inline-block;
    font-size: 30px;
    width: 350px;
  }
  &__about {
    font-size: 16px;
  }
}
