.team {
  &__new {
    margin: 15px auto;
    width: 630px;
  }
}
#member__search__field {
  width: 300px;
  margin-bottom: 10px;
}
#team__members {
  margin-top: 10px;
}
.user__name {
  display: inline;
}
.member__add {
  display: inline;
}
.member__delete {
  display: inline;
}
