%h2 Messages
.room
  - @anotherEntries.each do |e|
    = link_to room_path(e.room.id) do
      .room__index
        .room__index__image
          = user_icon_medium(e.user)
        .room__index__text
          = e.user.name
          .room__index__text__date
            更新：
            = time_ago_in_words e.room.last_message
            前
