%h2 Messages
.room
  - @anotherEntries.each do |e|
    = link_to room_path(e.room.id) do
      .room__index
        - if e.user.image.attached?
          = image_tag e.user.image.variant(resize: "70x70^"), class: "rounded-circle"
        - else
          = image_tag "person.jpeg", class: "rounded-circle", size: "70x70"
        = e.user.name
