.card
  .card__title
    = link_to "#{card.name}", board_card_path(@board, card), remote: true, class: "card__title"
    #card-show.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  
  - if card.deadline.present?
    .card__deadline
      = icon 'far', 'clock'
      = card.deadline
